<footer id="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 footer-info">
                  <h4> CotaTravel</h4>
                  <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius obcaecati, hic saepe et repellendus laboriosam dolorum veniam. Minus, nihil quibusdam.
                  </p>
              </div>
              <div class="col-lg-2 col-md-6 footer-links">
                  <h4> Conoce Cota</h4>
                  <ul>
                      <li><a href="Turistico.html">Sitios Turísticos </a></li>
                      <li><a href="Restaurante.html">Restaurantes </a></li>
                      <li><a href="Cultura.html">Espacios Culturales</a></li>
                      <li><a href="Deporte.html">Espacios Deportivos</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-6 footer-links">
                  <h4> Planes</h4>
                  <ul>
                      <li><a href="#">Solo </a></li>
                      <li><a href="#">Amigos </a></li>
                      <li><a href="#">Pareja </a></li>
                      <li><a href="#">Familia</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-6 footer-contact">
                  <h4> Contáctenos</h4>
                  <p>
                      Alcaldia de Cota <br>
                      Cota, Cundinamarca,Colombia <br>
                      <strong>Celular:</strong>+57 3195122001<br>
                      <strong>Email:</strong>dlgc12@hotmail.com<br>
                  </p>
                  <div class="social-links">
                      <a href="https://twitter.com/AlcaldiaCota" class="twitter"><i
                              class="fa fa-twitter"></i></a>
                      <a href="https://www.facebook.com/AlcaldiaCotaOficial/" class="facebook"><i
                              class="fa fa-facebook"></i></a>
                      <a href="https://www.instagram.com/alcaldia_cota_oficial/" class="instagram"><i
                              class="fa fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="copyright">
          &copy; Copyright<strong>Website</strong>. All Rights Reserved
      </div>
      <div class="credits">
          Designed by <a href="#">COTATRAVEL</a>
      </div>
  </div>
</footer>
