<section class="hero-wrap" style="background-image:url('assets/imagenes/5.jpg');">
  <div class="overlay"></div>
  <div class="container">
      <div class="row no-gutters main-text align-items-center">
          <div class="col-lg-7 col-md-6 d-flex align-items-end">
              <div class="text">
                  <h1 class="mb-4 text-capitalize"> Descubre Cota <br>
                      Una experiencia inolvidable
                  </h1>
                  <p style> Cota es un municipio ubicado a una hora de bogota con una gran cantidad de actividades y lugares turisticos que nos permiten tener una experiencia inolvidable </p>
                  <a href="#" class="btn btn-hero py-2 px-4"> Más información</a>

              </div>
          </div>

      </div>

  </div>
</section>
<!--final_img-->

<!--inicio contenedores -->
<section class="about-section mt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 text-center heading-section mb-5 ">
              <h2 class="text black mb-2"> Bienvenido a Cota Travel</h2>
              <p> Reunimos todas las experiencias que puedes vivir en cota y te la ponemos a solo un click para que difrutes.</p>
          </div>
      </div>
      <!--inicio contenedor1---->
      <div class="row img-wrap mb-5 mb-lg-0">
          <div class="col-12">
              <div class="row">
                  <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">
                      <a href="#" class="effect">
                          <img src=" assets/imagenes/parque.jpg" alt="" class="img-fluid">
                      </a>
                  </div>
                  <div class="col-lg-5 mr-auto align-self-center order-lg-1">
                      <h2 class="text-blank">Conoce Cota</h2>
                      <p class="mb-4">
                          Cota es uno de los 116 municipios colombiano del departamento de Cundinamarca.​ Se encuentra ubicado en la Provincia de Sabana Centro, a 26 km de Bogotá.
                      </p>
                      <a href="#" class="btn btn-about">Leer más</a>
                  </div>
              </div>
          </div>
      </div>
      <!--final contenedor1---->
      <!--inicio contenedor2---->
      <div class="row img-wrap mb-5 mb-lg-0">
          <div class="col-12">
              <div class="row">
                  <div class="mb-4 margin-lg-0 col-lg-6">
                      <a href="#" class="effect">
                          <img src="assets/imagenes/7.jpg" alt="" class="img-fluid">
                      </a>
                  </div>
                  <div class="col-lg-5 ml-auto align-self-center order-lg-1">
                      <h2 class="text-blank"> Cultura</h2>
                      <p class="mb-4">
                          Cota en lengua chibcha quiere decir desgreñado, crespo, encrespado Cota figura en el itinerario de Nemqueteba, quien desde la cueva del mohán, en la colina de Cetime, predicó el culto al sol y enseño a cultivar la tierra y tejer algodón. El 10 de julio de 1670 llegó visita del Oídor Mateo Ibañez de Rivera, verificó la descripción de 417 indios.
                      </p>
                      <a href="#" class="btn btn-about">Leer más</a>
                  </div>
              </div>
          </div>
      </div>
      <!---final contenedor2----->
      <!--inicio contenedor3---->
      <div class="row img-wrap mb-5 mb-lg-0">
          <div class="col-12">
              <div class="row">
                  <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">
                      <a href="#" class="effect">
                          <img src="assets/imagenes/tucan.png" alt="" class="img-fluid">
                      </a>
                  </div>
                  <div class="col-lg-5 mr-auto align-self-center order-lg-1">
                      <h2 class="text-blank">Sitios Turísticos</h2>
                      <p class="mb-4">
                          Venga visite cota - cundinamarca es un municipio hermoso rodeado de naturaleza!!!! podra tener grandes experiencias y aprender mucho de ellas
                      </p>
                      <a href="#" class="btn btn-about">Leer más</a>
                  </div>
              </div>
          </div>
      </div>
      <!---final contenedor3----->

      <!--inicio contenedor5---->
      <div class="row img-wrap mb-5 mb-lg-0">
          <div class="col-12">
              <div class="row">
                  <div class="mb-4 margin-lg-0 col-lg-6 order-lg-1">
                      <a href="#" class="effect">
                          <img src="assets/imagenes/restaurante.jpg" alt="" class="img-fluid">
                      </a>
                  </div>
                  <div class="col-lg-5 mr-auto align-self-center order-lg-2">
                      <h2 class="text-blank">Restaurantes</h2>
                      <p class="mb-4">
                          Este municipio, que algunos capitalinos acostumbran visitar los fines de semana con la ilusión de encontrar una suculenta picada, más allá de su oferta gastronómica cuenta con mayores atractivos turísticos.
                      </p>
                      <a href="#" class="btn btn-about">Leer más</a>
                  </div>
              </div>
          </div>
      </div>
      <!---final contenedor3----->
  </div>
</section>
<!--final todo contenedor-->

<!--galeria imagenes-->
<section>
  <div class="popular section-bg img-effect mt-5">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="section-title text-center">
                      <h1 class="text-white mb-2">Sitios Recomendados </h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ End of Popular Places-->
  <!-- Other Popular  -->
  <div class="all-image">
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-md-6 col-lg-4">
                  <div class="single-img">
                      <div class="img-thumb">
                          <img src="assets/imagenes/campus.png" alt="">
                      </div>
                      <div class="img-hover">
                          <div class="title">
                              <h3>Campus Municipal</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-4">
                  <div class="single-img">
                      <div class="img-thumb">
                          <img src="assets/imagenes//lareserva.jpg" alt="">
                      </div>

                      <div class=" img-hover">
                          <div class="title">
                              <h3>Parque La Reserva</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-4">
                  <div class="single-img">
                      <div class="img-thumb">
                          <img src="assets/imagenes/resguardo.jpg" alt="">
                      </div>

                      <div class=" img-hover">
                          <div class="title">
                              <h3>Resguardo Indígena</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-4">
                  <div class="single-img radial">
                      <div class="img-thumb">
                          <img src="assets/imagenes/majuy.jpg" alt="">
                      </div>
                      <div class="img-hover">
                          <div class="title">
                              <h3>Cerro el Majuy</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-4">
                  <div class="single-img radial">
                      <div class="img-thumb">
                          <img src="assets/imagenes/restaurante.jpg" alt="">
                      </div>
                      <div class="img-hover">
                          <div class="title">
                              <h3>Restaurante La Provincia</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-12 col-lg-4">
                  <div class="single-img radial">
                      <div class="img-thumb">
                          <img src="assets/imagenes/cultura.jpg" alt="">
                      </div>
                      <div class="img-hover">
                          <div class="title">
                              <h3>Casa de la Cultura</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>
<!--end of Popular Places-->

<!---Contact Section-->
<section class="contact mt-3">
    <div class="container">
        <div class="text-center heading-section mb-5">
            <h2 class=" text-black mb-2">
                Contáctenos
            </h2>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7951.536233878914!2d-74.10730192369432!3d4.809831986028628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f86e804531fdd%3A0x38359f1d01fd914a!2sCota%2C%20Cundinamarca!5e0!3m2!1ses!2sco!4v1613347385247!5m2!1ses!2sco" width="500" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Correo">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" row="6" placeholder="Mensaje"></textarea>
                    </div>
                    <div><a href="#" class="btn btn-about">Enviar mensaje</a></div>

                </form>
            </div>
        </div>
    </div>
</section>
<!---End of Contact Section-->

