/*====inicio hero section==*/
.hero-wrap{
  width: 100%;
  height: 850px;
  position: relative;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index:0;
}
/*====fondo imagen==*/
.hero-wrap .overlay{

  position:absolute;
  top:0;
  left:0;
  right: 0;
  content: "";
  opacity: .5;
  background-image: linear-gradient(to right top, #3b391f, #413a1f, #473b1f, #4d3c20, #533c22);
  height: 850px;
}
.hero-wrap .main-text{
  height: 800px!important;
}
.main-text h1{
font-size:60px;
color:white;
line-height:1.1;
font-weight: bold;
}
.main-text p{
  line-height:1.5;
  color:white;

}
.btn-hero{
  background-color:#013d17!important;
  color:white;
  margin-right: 5px;
  margin-left: 5px;
  animation:skew 3s infinite;
  animation-direction:normal;
  transform: skew(20deg);
  animation-direction: alternate;
  padding:5px 17px;
}
@keyframes skew{
  0%{
   transform: skewX(20deg)
  }
  100%{
      transform: skewX(-20deg)
     }

}
/*====final hero section==*/

/*====heading section==*/
.heading-section h2{

  text-transform: uppercase;
  font-weight: bold;
}
.img-wrap .effect{

  position: relative;
  margin-bottom: 0;
  display: block;
}
.img-wrap .effect:after{
 z-index:-1;
 content: "";
 position: absolute;
 top:10px;
 right: 10px;
 bottom: 10px;
 left: 10px;
 background: rgba(194, 115, 51, 0.767);
 transition: .3s all ease-in-out;
}
.img-wrap:hover .effect:after{
  right: -10px;
  bottom: -10px;
  position:absolute;
}
.btn-about{
  background-color: #ff8500 !important;
  color:white;
  margin-right: 5px;
  margin-left: 5px;
  animation:skew 3s infinite;
  animation-direction:normal;
  transform: skew(20deg);
  animation-direction: alternate;
  padding:5px 17px;
}

/*=======sitios populares=====*/
.popular{

  background-image: url(/assets/imagenes/consejo.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top:80px;
  padding-bottom: 320px;
}
.popular:before {
  position: absolute;
  width: 100%;
  height: 140%;
  left: 0;
  top: 0;
  background:linear-gradient(rgba(105, 77, 15, 0.5), #3b391f),
  url(/assets/imagenes/consejo.jpg)center;
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
}
.all-image {
  padding-bottom: 75px;
  position: relative;
  margin-top: -295px;
}
.all-image .single-img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.all-image .single-img .img-thumb {
  height: 210px;
}
.all-image .single-img .img-thumb img {
  width: 100%;
  height: 100%;
}
.all-image .single-img .img-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(2, 59, 17, 0.5);
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
}
.all-image .single-img .img-hover .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
.all-image .single-img .img-hover h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.all-image .single-img:hover .img-hover {
  transform: translateX(0%);
  opacity: 1;
}

/*==========End of Popular Places===========*/
/*========== Services section===========*/
.services .icon-circle{
  text-align: center;
  padding: 40px 20px;
  transition: all ease-in-out 0.3s;
  box-shadow: 2px 4px rgba(19,19,19,0.5);
}
.services .icon-circle.purple{
  background: #013d17;
  color:#fff;
}
.services .icon-circle.pink{
  background: #013d17;
  color: #fff;
}
.services .icon-circle.yellow{
  background: #013d17;
  color:#fff;
}
.services .icon-circle.blue{
  background:#013d17;
  color:#fff;

}
.services .icon-circle .icon{
  margin:0 auto;
  width: 64px;
  height:64px;
  border-radius: 50px;
  border:1px solid #fff;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
  transition: ease-in-out 0.3s;
  color: #fff;
}
.services .icon-circle .icon i{
  font-size: 28px;
}
.services .icon-circle h4{
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-circle p{
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-circle:hover{
  border-color: #413606;
  box-shadow: 0px 0 25px 0 rgba(3,75,122,0.1);
}
.services .icon-circle:hover .icon{
  color:#fff;
  background: #502512ec;
}
/*=====Contact section===*/
.contact .icon-box{
  color:#22100a;
  text-align:center;
  box-shadow:0 0 15px #013d17;
  padding:20px 0 30px 0;
}
.contact .icon-box i.fab{
  font-size:20px;
  color:white;
  border-radius: 50%;
  padding:8px;
  background:  #013d17;
}
.contact .icon-box h3{
  font-size:20px;
  color:#000;
  font-weight:bold;
  margin:10px 0;
}
.contact .icon-box p{
  padding:0;
  line-height:24px;
  font-size:14px;
  margin-bottom:0;
}
.contact .social-links{
  margin-top:15px;
  display:flex;
  justify-content:center;
}
.contact .social-links a{
  font-size:16px;
  display: inline-block;
  color:#fff;
  line-height:1;
  margin:0 8px;
  transition: 0.3s;
  padding:10px;
  border-radius:50px;
  border:1px solid #22100a;
}
.contact .social-links a:hover{
  color:#fff;
  border-color:#22100a;
  background:#ff8500;
}
.contact form{
  box-shadow:0 0 15px #013d17;
  padding:27px;
}
/*=====End of contact section===*/
