<div class="container1">

  <img src="assets/imgastro/PROVINCIA.jpg" alt="inicio" style="width:70%" class="mx-auto d-block">
</div>




<section class="titulo1">
  <h2>LA PROVINCIA</h2>
</section>


<div class="container">

  <div class="col-12">
    <div class="row">
      <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">

        <img class="format" src="assets/imgastro/1.jpg" class="img-fluid">

      </div>
      <div class="col-lg-5 mr-auto align-self-center order-lg-1">
        <h2 class="text-blank">Conoce Cota</h2>
        <p class="mb-4">
          Deliciosa comida de la región Atlantica Colombiana, mezclada con deliciosa parrilla de carne Angus, una
          sucursal Costeña en Cota.
        </p>

      </div>
    </div>
  </div>
</div>




<!-- segundo estado -->
<div class="container">

  <div class="col-12">
    <div class="row">
      <div class="mb-4 margin-lg-0 col-lg-6 order-lg-1">

        <img class="format" src="assets/imgastro/2.jpg" class="img-fluid">

      </div>
      <div class="col-lg-5 mr-auto align-self-center order-lg-2">
        <h2 class="text-blank">Conoce Cota</h2>
        <p class="mb-4">
          Cada plato lleva descrito su origen, no por nada el chef dice que la carta es un relato en torno a la despensa
          costeña: Arroz Dibulla ($ 32.000), apastelado de los Montes de María ($ 26.000) y caldereta riohachera ($
          32.000).
        </p>

      </div>
    </div>
  </div>
</div>
<a class='flotante' href='#'><img src='assets/imgastro/BOTON-RESERVAS.png' border="0" width="180px" /></a>
