<section>
  <div class="row justify-content-center">
    <div class="col-sm-8">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="img"><img class="d-block img-fluid" src="assets/imgastro/married.jpg" alt="First slide">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img"><img class="d-block img-fluid" src="assets/imgastro/PROVINCIA.jpg" alt="Third slide"></div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="img"><img class="d-block img-fluid" src="assets/imgastro/PROVINCIA.jpg" alt="Third slide">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  </div>

</section>


<section class="titulo1">
  <h2>Restaurantes</h2>
</section>


<section>
  <div class="row ">
    <!-- primera columna -->
    <div class="col-md-4 sm-4">


      <div class="imagenes-container">
        <div class="imagenes-details">
          <h2>LA PROVINCIA </h2>

        </div>
        <a [routerLink]="['/prvin']">
          <img alt="imagen html de ejemplo" src="assets/imgastro/PROVINCIA.jpg" width="460px" alt="jobs" class="img-fluid" />
        </a>
      </div>
      <p>Deliciosa comida de la region Atlantica Colombiana, mezclada con deliciosa parrilla de carne Angus, una
        sucursal Costeña en Bogota, Pa' matar el filo en la nevera!!!!


      </p>
    </div>

    <!-- segundo parrafo -->
    <div class="col-md-4 sm-4">
      <div class="imagenes-container">
        <div class="imagenes-details">
          <h2>Oshiru </h2>
        </div>
        <img src="assets/imgastro/oshiru.jpg" width="460px" alt="jobs" class="img-fluid">
      </div>
      <p>Vive un espacio agradable para compartir en familia y con amigos disfrutando la mejor comida Teppanyaky
        Show y grandes variedades de Sushi</p>
    </div>

    <!-- tercera columna -->
    <div class="col-md-4 sm-4">
      <div class="imagenes-container">
        <div class="imagenes-details">
          <h2>Balsamico</h2>

        </div>
        <img src="assets/imgastro/balsamico.jpg" width="460px" alt="tesla" class="img-fluid">

      </div>
      <p>
        Todo el conocimiento de una comida sana y deliciosa en un ambiente cálido e informal. Punto de encuentro
        para aquellos a quienes les gusta la buena música, la conversación y el buen comer.</p>
    </div>




  </div>
</section>

 <!-- segunda fila-->

<div class="row ">
  <!-- primera columna -->
  <div class="col-md-4 sm-4">


      <div class="imagenes-container">
          <div class="imagenes-details">
              <h2>El Paisa </h2>

          </div>
          <img src="assets/imgastro/paisa.jpg" width="460px" alt="tesla" class="img-fluid">

      </div>
      <p>Restaurante de comida típica colombiana que se respete tiene en su menú el plato más famoso de Antioquia
          y la región circundante: la bandeja paisa. Se trata de una receta de antaño que tiene su secreto en la
          suma de ingredientes, texturas, aromas y sabores; que solo la mejor cocina tradicional es capaz de
          combinar perfectamente.

      </p>
  </div>
  <!-- segundo parrafo -->
  <div class="col-md-4 sm-4">
      <div class="imagenes-container">
          <div class="imagenes-details">
              <h2>Married restaurante </h2>
          </div>
          <img src="assets/imgastro/married.jpg" width="460px" alt="jobs" class="img-fluid">
      </div>
      <p>
          Restaurante con un ambiente único , es ideal para compartir con la familia amigos y mascotas
          Atendemos todo tipo de eventos y ocasiones especiales</p>
  </div>

  <!-- tercera columna -->
  <div class="col-md-4 sm-4">
      <div class="imagenes-container">
          <div class="imagenes-details">
              <h2>Lola pizzeria y abasto</h2>

          </div>
          <img src="assets/imgastro/balsamico.jpg" width="460px" alt="tesla" class="img-fluid">

      </div>
      <p>
          Lola nace en el 1o de diciembre de 2018 en Cota, como un resturante único.Somos una cocina, un ambiente
          y un servicio que busca ofrecer productos de muy buena calidad e innovadores y un rato inolvidable.
          Pizza y otras delicias fueron nuestra inspiración..</p>
  </div>

  <!-- cuarto parrafo -->


</div>











